<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>MafiaMail</title>
  <meta name="viewport" content="width=defice-width, initial-scale=1.0"/>
 </head>
<body style="margin:0; padding:0;">
 <table cellpadding="0" cellspacing="0" width="100%">
  <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc">
   <tr>
    <td align="center" bgcolor="#ED2E2E" style="padding: 20px 0 20px 0;">
	 <img src="https://i.imgur.com/jSLRDQA.png" alt="MafiaLogo" width="200" height="198" style="display: block;">
	</td>
   </tr>
   <tr>
    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
	 <table cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	   <td style="color: #153643; font-family: Arial, sans-seirf; font-size: 24px;">
        <b>Ну, здравствуй, {{ username }}!</b>
	   </td>
	  </tr>
	  <tr>
	   <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
		Ходят слухи, что вы забыли что-то крайне важное. Если это письмо пришло вам не случайно, то перейдите по ссылке ниже, дабы сбросить свой пароль.
        Также сообщаем вам ваш логин: {{ username }}.
        Если вы не знаете, что это за письмо, то проигнорируйте его и отправьте в папку спам!
        Почта для обратной связи: {{from_email}}
	   </td>
	  </tr>
	  <tr>
	   <td bgcolor="253338" align="center">
	    <a href="#" style="color:white; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
		 СБРОСИТЬ ПАРОЛЬ: {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
		</a>
	   </td>
	  </tr>
	 </table>
	</td>
   </tr>
   <tr>
    <td bgcolor="#253338" style="color:white; padding: 30px 30px 30px 30px; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
	 &reg; "{{site_name}}"
	</td>
   </tr>
  </table>
 </table>
</body>
</html>