{% autoescape off %} 
Привет , игрок {{ user.username }},
Нажмите по ссылке для подтвержденяи регистрации на сайте MafiaOnline!
Переходите по ссылке только если вы регестрировались на сайте с игрой MafiaOnline!
"http://{{ domain }}{% url 'activate' uidb64=uid token=token %}"

Если вы не регистрировались на сайте игры MafiaOnline, то проигнорируйте это сообщение и занесите в папку спам!

Добро пожаловать в мир мафии! Если вы любите игры с интригой, увлекательным сюжетом и
ролевыми элементами, то наша игра "Мафия" идеально подойдет для вас.
Играйте в "Мафию" на нашем сайте и получайте удовольствие от ярких эмоций, интересных персонажей и захватывающей сюжетной линии.
Не упустите свой шанс стать настоящим героем или злодеем мира мафии!

Наша почта: "MafiaOnlineByG4m3dev@yandex.ru"
{% endautoescape %}


