{% extends "mainpage/index.html" %}
{% load static %}

{% block script %}
<script>
  function proverka() {
      if (confirm("Подтвердите выход из аккаунта!")) {
          return true;
      } else {
          return false;
      }
  }

  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
{% endblock %}

{% block style %}
<style>
/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>
{% endblock %}


{% block content %}
<main>
    <img src="{% static "img/logofaq.png" %}" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; width: auto;">
    <h1 style="text-align: center">FAQ: Часто задаваемые вопросы</h1>
    <div class="page">
        <h3>У меня не получается зайти в лобби! Как зайти в лобби? Что делать?</h3>
        <hr>
        <br>
        Всё очень просто, мой дорогой мафиози! Всё, что вам необходимо сделать - это убедиться, что ваш
        браузер базируется на движке хромиум (Opera, Internet Edge, Google Chrome, Yandex Browser и др.)<br>
        Затем!<br>
        1. Введите в адресной строке chrome://flags/#unsafely-treat-insecure-origin-as-secure и нажмите enter.<br>
        2. В список исключений добавьте наш сайт,<br>
        3. Нажмите кнопку перезапуска, которая появится справа снизу.<br>
        <img src="https://i.imgur.com/EJFcMGr.png" title="source: imgur.com", style="max-width: 75%; width: auto;"/><br>
        Наслаждайтесь! <br>
    </div>
    <div class="page">
        <h3>Куда я попал?? Как зарегистрироваться?</h3>
        <hr>
        <br>
        Друг мой, вы попали ровно по адресу! Здесь все ваши надежды и мечты сбудутся. Чтобы пройти регистрацию, нажмите
        на кнопку "Регистрация" в правом верхнем углу сайта.<br>
        <img src="https://i.imgur.com/drTjsgk.png" title="source: imgur.com", style="max-width: 75%; width: auto;"/><br>
        Далее, на странице регистрации заполните все поля и ждите заветного письма.
    </div>
    <div class="page">
        <h3>Мне пришло письмо активации аккаунта! Что дальше?</h3>
        <hr>
        <br>
        Перейдите по ссылке внутри него, и ваш аккаунт будет полностью готов к использованию.
    </div>
    <div class="page">
        <h3>Эээ? Что это у меня за ник? Я другой выбирал!</h3>
        <hr>
        <br>
        Дон вами разочарован. Если вам так не понравился тщательно подобранный отцами наших высочайших
        семей ник, вы можете перейти в свой аккаунт и изменить его там. <br>
        <tr>
            <img src="https://i.imgur.com/aVPDjFP.png" title="source: imgur.com", style="max-width: 75%; width: auto;" />
            <img src="https://i.imgur.com/OZ8lEyw.png" title="source: imgur.com", style="max-width: 75%; width: auto;" />
        </tr>
    </div>
    <div class="page">
        <h3>Так-так-так, я попробовал создать лобби, ввёл название, но страница просто перезагрузилась!</h3>
        <hr>
        <br>
        В названии лобби допускается только латиница и цифры.<br>
        <img src="https://i.imgur.com/KlW92JS.png" title="source: imgur.com", style="max-width: 75%; width: auto;" /><br>
    </div>
    <div class="page">
        <h3>Если эти вопросы часто задаваемые, то вы, получается, являетесь крайне популярным сайтом с большим и постоянным
            онлайном?</h3>
        <hr>
        <br>
        <div class="tenor-gif-embed" data-postid="26521101" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/red-ball-angry-angry-fist-grr-gif-26521101">Red Ball Angry GIF</a>from <a href="https://tenor.com/search/red+ball-gifs">Red Ball GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</main>

{% endblock %}
