{% extends "mainpage/index.html" %}
{% load static %}
{% block content %}
<main>
    <img src="{% static "img/logofaq.png" %}" style="display: block; margin-left: auto; margin-right: auto; max-width: 100%; width: auto;">
    <h1 style="text-align: center">FAQ: Часто задаваемые вопросы</h1>
    <div class="page">
        <h3>У меня не получается зайти в лобби! Как зайти в лобби? Что делать?</h3>
        <hr>
        <br>
        Всё очень просто, мой дорогой мафиози! Всё, что вам необходимо сделать - это убедиться, что ваш
        браузер базируется на движке хромиум (Opera, Internet Edge, Google Chrome, Yandex Browser и др.)<br>
        Затем!<br>
        1. Введите в адресной строке chrome://flags/#unsafely-treat-insecure-origin-as-secure и нажмите enter.<br>
        2. В список исключений добавьте наш сайт,<br>
        3. Нажмите кнопку перезапуска, которая появится справа снизу.<br>
        <img src="https://i.imgur.com/EJFcMGr.png" title="source: imgur.com", style="max-width: 75%; width: auto;"/><br>
        Наслаждайтесь! <br>
    </div>
    <div class="page">
        <h3>Куда я попал?? Как зарегистрироваться?</h3>
        <hr>
        <br>
        Друг мой, вы попали ровно по адресу! Здесь все ваши надежды и мечты сбудутся. Чтобы пройти регистрацию, нажмите
        на кнопку "Регистрация" в правом верхнем углу сайта.<br>
        <img src="https://i.imgur.com/drTjsgk.png" title="source: imgur.com", style="max-width: 75%; width: auto;"/><br>
        Далее, на странице регистрации заполните все поля и ждите заветного письма.
    </div>
    <div class="page">
        <h3>Мне пришло письмо активации аккаунта! Что дальше?</h3>
        <hr>
        <br>
        Перейдите по ссылке внутри него, и ваш аккаунт будет полностью готов к использованию.
    </div>
    <div class="page">
        <h3>Эээ? Что это у меня за ник? Я другой выбирал!</h3>
        <hr>
        <br>
        Дон вами разочарован. Если вам так не понравился тщательно подобранный отцами наших высочайших
        семей, вы можете перейти в свой аккаунт и изменить там ник.
        
    </div>
    <div class="page">
        <h3>Если эти вопросы часто задаваемые, то вы, получается, являетесь крайне популярным сайтом с большим постоянным
            онлайном?</h3>
        <hr>
        <br>
        <div class="tenor-gif-embed" data-postid="26521101" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/red-ball-angry-angry-fist-grr-gif-26521101">Red Ball Angry GIF</a>from <a href="https://tenor.com/search/red+ball-gifs">Red Ball GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</main>

{% endblock %}
