{% extends "mainpage/index.html" %}
{% load static %}
{% block content %}
<main>
    <img src="{% static "img/logofaq.png" %}" style="display: block; margin-left: auto; margin-right: auto;">
    <h1 style="text-align: center">FAQ: Часто задаваемые вопросы</h1>
    <div class="page">
        <h3>Как пройти регистрацию на сайте?</h3>
        <hr>
        <br>
        Нажмите на кнопку "Регистрация" в правом верхнем углу страницы, заполните все необходимые поля. На вашу электронную почту
        придёт письмо - нажмите на ссылку с активацией аккаунта. Поздравляем, вы присоединились к рядам мафиози!
    </div>
    <div class="page">
        <h3>Как войти в свой аккаунт?</h3>
        <hr>
        <br>
        Нажмите на кнопку "Вход" в правом верхнем углу страницы и введите свой логин и пароль, которые вы указывали при регистрации.
    </div>
    <div class="page">
        <h3>Как сменить аватарку?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как проверить работоспособность микрофона?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как проверить работоспособность веб-камеры?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как выйти из аккаунта?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как создать новую игру?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как выбрать существующую игру?</h3>
        <hr>
        <br>
        Ответ ответ ответ ответ
    </div>
    <div class="page">
        <h3>Как перейти на главную страницу?</h3>
        <hr>
        <br>
        Нажмите на кнопку "Главная" в верхнем меню.
    </div>
    <div class="page">
        <h3>Как перейти на страницу часто задаваемых вопросов?</h3>
        <hr>
        <br>
        Нажмите на кнопку с подписью "FAQ" в верхнем меню. Также можно перезагрузить страницу, нажав F5 на клавиатуре, или специальную
        кнопку перезагрузки страницы вашего браузера.
    </div>
</main>

{% endblock %}
