<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <title></title>
  </head>
  <body>
    <header>
      <div id="header-main">
        <img id="logo" src="{% static "img/logo.png" %}" alt="Logo">
        <div id="logo-text"><p style="color:#d93030">Mafia</p>&nbsp;Online</div>
        <div id="buttons-block">
        <a href="#" class="button">Главная</a>
        <a href="#" class="button">FAQ</a>
        <a href="#" class="button">Создать игру</a>
        <a href="#" class="button">Выбрать игру</a>
        </div>
        {% if request.user.is_authenticated %}
        <div id="authentication-block">
          <p id="text-profile">{{request.user.username}}</p>
          <a href="account/logout/" class="button">Выход</a>
        </div>
        {% else %}
        <div id="authentication-block">
          <a href="account/login/" class="button">Вход</a>
          <a href="account/registration" class="button">Регистрация</a>
        </div>
        {% endif %}
      </div>
      <div id="header-play">
        <a href="#" id="button-game-now">Играть сейчас!</a>
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
