<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <title></title>
  </head>
  <body>
    <header>
      <div id="header-main">
        <img id="logo" src="{% static "img/logo.png" %}" alt="Logo">
        <div id="logo-text"><p style="color:#d93030">Mafia</p>&nbsp;Online</div>
        <div id="buttons-block">
        <a href="#" class="button">Главная</a>
        <a href="#" class="button">FAQ</a>
        <a href="#" class="button">Создать игру</a>
        <a href="#" class="button">Выбрать игру</a>
        </div>
        {% if request.user.is_authenticated %}
          <div id="profile-block">
            <div id="profile-block-background">
              <a href="{% url "profile" %}" style="margin-top: 0em; text-decoration: none; display: grid;">
                <img id="profile-Icon" width="53" height="53" src="{{request.user.profile.profile_img.url}}" alt="Icon"> 
                <div id="profile-effect"></div>
              </a>
              <p class="text-profile">{{request.user.profile.nickname}}</p>
              <a href="{% url "settings_profile" %}" class="button button-settings">&#9881;</a>
              <a href="{% url "logout" %}" class="button button-logout">✖</a>
            </div>
          </div>
        {% else %}
        <div id="authentication-block">
          <a href="{% url "login" %}" class="button">Вход</a>
          <a href="{% url "regist" %}" class="button">Регистрация</a>
        </div>
        {% endif %}
      </div>
      <div id="header-play">
        <a href="#" id="button-game-now">Играть сейчас!</a>
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
