* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: #272C34;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(228,34,34);
  background: linear-gradient(135deg, rgb(243, 46, 46) 0%, rgb(78, 9, 16) 100%);
}
main{
  background-color: #21252C;
  padding: 1.5%;
  width: 32%;
  color: white;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  border-radius: 1em;
}
#head{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0.2em;
}
#content{
  padding: 3%;
}
input[type="text"],input[type="password"],input[type="email"]
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  font-size: 16px;
  width: 100%;
  height: 1em;
}
h2{
  columns: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-top: 1.5em;
  
}
.errorlist{
  padding-left: 1em;
  font-size: 14px;
  color:rgb(250, 34, 34);
}
#SendBox{
  display: flex;
  justify-content: center;
}
input[type="submit"]
{
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 2%;
  margin-top: 1em;
  background:
  linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
  linear-gradient(45deg, rgba(24,171,253,1) 0%, rgba(50,80,169,1) 60%);
  background-size:300% 100%,cover;

  border-radius: 10px;
  border: 0px;
  width: 50%;
}
input[type="submit"]:hover{
  animation:button-game-animation 3s ease;
}
.ExitButton {
  display: block;
  padding-top: 13px;
  padding-left: 13px;
  background: #464556;
  white-space: nowrap;

  background:
  linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
  #464556;
  background-size:300% 100%,cover;

  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  
  text-align: center;
  justify-content: center;
  color: white;
  line-height: 25px;
  text-decoration:none;
  white-space: nowrap;
  columns: 2;
}
.ExitButton:hover{
  animation:button-game-animation 3s ease;
}

@keyframes button-game-animation {

  0%{
      background-position:right,center;
   }
   30%{background-position:0 0;}
}
#LogIn{
  font-size:16px;
  margin-top: 1em;
  color:rgba(50,80,169,1);
  display: flex;
  justify-content: center;
}