{% extends 'profile_base.html' %}
{% block title %}Редактирование профиля{% endblock %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data" novalidate>
	{% csrf_token %}

	<div id="head">
		<a class="ExitButton" href="{% url "profile" %}">🡸</a>
		<h2 style="margin-bottom: 0.5em; margin-top: 1em;">Изменить профиль</h2>
	</div>



	

    <div id="content">
		<div style="display: flex; flex-direction: column;">
			<div style="display: flex;">
				<div style="width: 200px; height: 200px;">
					<img id="profile-Icon" width="200" height="200" h src="{{form_obj.profile_img.url}}" alt="Icon">
				</div>
				<div style="display: flex; flex-direction: column;">
					<div class="example-1">
						<div class="form-group">
						  <label class="label">
							<i class="material-icons">attach_file</i>
							<span class="title">Изменить картинку</span>
							<input type="file" accept="image/*"  onchange="loadFile(event)" name="profile_img"/>
						  </label>
						</div>
					</div>
				</div>	
			</div>
			<div style="display: flex; flex-direction: column;margin-top: 1em;">
				{{ form.nickname.label_tag }}
				{{ form.nickname }}
			</div>	
		</div>
		<div style="display: flex; justify-content: flex-end;">
			<input style="margin-left: auto; margin-top: 1em;" type="submit" >
		</div>
    </div>
	

	<script>
  		var loadFile = function(event) {
			var reader = new FileReader();
    		reader.onload = function(){
      			var output = document.getElementById('profile-Icon');
      			output.src = reader.result;
    		};
    		reader.readAsDataURL(event.target.files[0]);
  		};
	</script>
</form>
{% endblock content%}