{% extends 'profile_base.html' %}
 
{% block title %}Уведомления{% endblock %}
 
{% block content %}
<div id="header">
    <a class="ExitButton" href="{% url 'mainpage'%}">🡸</a><br>
    <h2 id ="head-title">Ваши Друзья</h2>
    <a class="ExitButton" href="{% url 'friends_search'%}">🔎</a>
</div>
<div class="list">
    <table>
    {% if friends %}
		{% for friend in friends %}
            <tr>
                <td>
                    <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                        <img class="profile-Icon" width="45px" height="45px" src="{{friend.profile_img.url}}" alt="Icon">
                        <div style="display: flex; align-items: center;">
                          <a class="links" href="{{ friend.get_absolute_url }}">{{friend.nickname }}</a>
                        </div>
                    </div>                    
                </td>
		    </tr>
        {% endfor %}
    {% else %}
    <tr>
        <div style="display: flex; justify-content: center;">
            У вас нет друзей!
        </div>
    </tr>
    {% endif %}
    </table>
</div>
{% endblock content%}

{% block style %}
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: sans-serif;
        font-size: 20px;
        min-height: 100vh;
        background: linear-gradient(135deg, rgb(243, 46, 46) 0%, rgb(78, 9, 16) 100%);
    }
    main{
        width: 21em;
        height: 33em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
    #header{
        display: flex;
        justify-content: center;
    }
    #head-title{
        margin: 1em 0 1em 0;
        padding-left: 1.5em;
        white-space: nowrap;
        text-align: center;
    }
    p{
        font-size: 16px;
        margin-left: 1em;
    }

    .list{
    width: 21em;
    height: 30em;
    background-color: #292e36;
    overflow-y: scroll;
    margin-bottom: 1em;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    padding: 0.5em;
  }

    

  html {
    --scrollbarBG: #27303f;
    --thumbBG: #90A4AE;
  }
  .list::-webkit-scrollbar-corner {
    background: #27303f;
  }
  .list::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  .list::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .list::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  table {
    width:100%;
    border-collapse:separate; 
    border-spacing:0 0.2em;
  }
  tr{
    height: 100%;
    background-color: #363d48;
  }
  td{
    height: 100%;
    padding: 0.3em;
    border-radius: 10px;
  }

  tr>td {
    margin-bottom: 30px;
  }
  
  .text-message::first-letter{
    text-transform: lowercase;
  }

  .profile-Icon{
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, rgb(3, 25, 151), #0b9ef9) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .links{
    color:rgb(114, 143, 248);
    text-decoration: none;
  }
  .links:hover{
    text-decoration: underline;
  }
</style>
{% endblock%}