{% extends 'profile_base.html' %}
 
{% block title %}Уведомления{% endblock %}
{% block style %}
{% endblock%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.delete-button').click(function() {
    var recordId = $(this).data('record-id');

    $.ajax({
      url: 'delete_record/' + recordId + '/',
      method: 'POST',
      success: function(response) {
        var elementToRemove = document.querySelector('[data-record-id="' + response.notice_id + 'notice"]');
            if (elementToRemove) {
                elementToRemove.remove();
            }
      },
      error: function(xhr, status, error) {
        // Обработка ошибки
        console.log(error);
      }
    });
  });
});

$(document).ready(function() {
  $('.add-button').click(function() {
    var recordId = $(this).data('record-id');

    $.ajax({
      url: 'add_record/' + recordId + '/',
      method: 'POST',
      success: function(response) {
        var elementToRemove = document.querySelector('[data-record-id="' + response.notice_id + 'notice"]');
            if (elementToRemove) {
                elementToRemove.remove();
            }
      },
      error: function(xhr, status, error) {
        // Обработка ошибки
        console.log(error);
      }
    });
  });
});
</script>
{% endblock%}

{% block content %}
<div id="head">
	<a class="ExitButton" href="{% url 'mainpage'%}">🡸</a>
	<h1 style="margin-top: 1em;">Уведомления</h1>
</div>
<div class="content">
	<table>
    {% if notices %}
		{% for notice in notices %}
            <tr data-record-id="{{ notice.id }}notice">
            {% if notice.notice_type == 'FR' %}
                <td>
                    <p><a href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a> хочет добавить вас в друзья!</p>
                </td>
                <td>
                    <button class="add-button" data-record-id="{{ notice.id }}">Добавить</button>
                </td>
            {% endif %}
            {% if notice.notice_type == 'IV' %}
                <td>
                    <p><a href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a> приглашает вас в игру!</p>
                </td>
                <td></td>
            {% endif %}
            {% if notice.notice_type == 'IF' %}
                <td>
                    <p>Сервер: {{ notice.text_message }}</p>
                </td>
                <td></td>
            {% endif %}
                <td>
                    <button class="delete-button" data-record-id="{{ notice.id }}">Удалить</button>
                </td>
		    </tr>
        {% endfor %}
    {% else %}
        <tr>У вас нет новых уведомлений</tr>
    {% endif %}
    </table>
</div>
{% endblock content%}