{% extends 'profile_base.html' %}

{% block title %}Уведомления{% endblock %}
{% block style %}
<style>
  *{
      margin: 0;
      padding: 0;
  }
  body{
      font-family: sans-serif;
      font-size: 20px;
      min-height: 100vh;
      background: linear-gradient(135deg, rgb(243, 46, 46) 0%, rgb(78, 9, 16) 100%);
  }
  main{
      width: 27em;
      height: 33em;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1em;
  }
  #headblock{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 1em;
      align-items: flex-start;
      width: 100%;
  }
  #h-head{
    margin: 0 auto 0 auto;
    padding-right:50px;
    columns: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list{
    width: 27em;
    height: 30em;
    background-color: #292e36;
    overflow-y: scroll;
    margin-bottom: 1em;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    padding: 0.5em;
  }

    

  html {
    --scrollbarBG: #27303f;
    --thumbBG: #90A4AE;
  }
  .list::-webkit-scrollbar-corner {
    background: #27303f;
  }
  .list::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  .list::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .list::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  table {
    width:100%;
    border-collapse:separate; 
    border-spacing:0 0.2em;
  }
  tr{
    height: 100%;
    background-color: #363d48;
  }
  td{
    height: 100%;
    width: 100%;
    padding: 0.3em;
  }
  td:first-child{border-radius: 10px 0 0 10px;}
  td:last-child{border-radius: 0 10px 10px 0;}
  tr>td {
    margin-bottom: 30px;
  }
  
  .text-message::first-letter{
    text-transform: lowercase;
  }

  .profile-Icon{
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, rgb(3, 25, 151), #0b9ef9) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .links{
    margin-top: 0.3em;
    color:rgb(114, 143, 248);
    text-decoration: none;
  }
  .links:hover{
    text-decoration: underline;
  }
  p{
    font-size: 16px;
    margin-left: 1em;
  }
  button{
    background:#ffffff00;
    border: none;
    color: #fff;
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
  button:hover{
    color: #19d759;
  }
  .delete-button{
    background:#ffffff00;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .delete-button:hover{
    color: red;
  }
  .datatime{
    display: flex;
    justify-content: flex-start;
    margin-left: 0.1em;
    align-items: center;
    font-size: 14px;
    color: #ffffff8c
  }
 
</style>
{% endblock%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Находите родительский элемент таблицы, к которому вы добавляете строки
    var parentTable = $('#noticetable');

    // Назначьте обработчик события на родительский элемент таблицы с использованием делегирования
    parentTable.on('click', '.delete-button', function() {
        // Получите данные, связанные с кнопкой
        var recordId = $(this).data('record-id');

        // Выполните AJAX-запрос
        $.ajax({
            url: 'delete_record/' + recordId + '/',
            method: 'POST',
            success: function(response) {
                var elementToRemove = document.querySelector('[data-record-id="' + response.notice_id + 'notice"]');
                if (elementToRemove) {
                    elementToRemove.remove();
                }
            },
            error: function(xhr, status, error) {
                // Обработка ошибки
                console.error('Произошла ошибка при выполнении запроса.');
            }
        });
    });

    parentTable.on('click', '.add-button', function() {
        // Получите данные, связанные с кнопкой
        var dataToSend = {
            record_id: $(this).data('record-id'),
        };

        // Выполните AJAX-запрос
        $.ajax({
            url: '{% url 'add_record'%}',
            method: 'POST',
            data: dataToSend,
            success: function(response) {
                var elementToRemove = document.querySelector('[data-record-id="' + response.notice_id + 'notice"]');
                if (elementToRemove) {
                    elementToRemove.remove();
                }
            },
            error: function(xhr, status, error) {
                // Обработка ошибки
                console.error('Произошла ошибка при выполнении запроса.');
            }
        });
    });
});

$(document).ready(function() {
    setInterval(makeAjaxRequest, 1000);
});

function makeAjaxRequest() {

    var dataToSend = {
        notices_count: document.getElementsByClassName("notice_record").length,
    };

    $.ajax({
        url: 'new_notices_check_view/',  // URL-адрес вашего представления Django
        type: 'POST',  // Может быть GET, POST и т.д., в зависимости от вашего представления
        dataType: 'json',  // Ожидаемый тип данных, например, JSON
        data: dataToSend,
        success: function(data) {
            var noticetable = document.getElementById("noticetable");
            noticetable.innerHTML = data.htmlCode;
        },
        error: function(xhr, status, error) {
            // Обработка ошибки
            console.log('Произошла ошибка при выполнении запроса.');
        }
    });
}


</script>
{% endblock%}

{% block content %}
  <div id="headblock">
      <a class="ExitButton" href="{% url "mainpage" %}">🡸</a>
    <h2 id="h-head">Уведомления</h2>
  </div>
  <div class="list">
    <table cellspacing="0" cellpadding="0" id="noticetable">
      {% if notices %}
        {% for notice in notices %}
          <tr data-record-id="{{ notice.id }}notice" class="notice_record">
            {% if notice.notice_type == 'FR' %}
              <td>
                <div class="datatime">{{notice.get_datetime}}</div>
                <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                  <img class="profile-Icon" width="45px" height="45px" src="{{notice.sender.profile.profile_img.url}}" alt="Icon">
                  <div>
                    <a class="links" href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a>
                    <p class="text-message" style="margin: 0;">хочет добавить вас в друзья!</p>
                  </div>
                </div>       
              </td>
              <td>
                <button class="add-button" data-record-id="{{ notice.id }}">✔</button>
              </td>
            {% endif %}
            {% if notice.notice_type == 'IV' %}
              <td>
                <div class="datatime">{{notice.get_datetime}}</div>
                <p><a class="links" href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a> приглашает вас в игру!</p>
              </td>
              <td>
                <button class="delete-button" data-record-id="{{ notice.id }}">✔</button>
              </td>
            {% endif %}
            {% if notice.notice_type == 'IF' %}
              <td>
                <div class="datatime">{{notice.get_datetime}}</div>
                <p>
                  {% if notice.sender %}
                    <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                      <img class="profile-Icon" width="45px" height="45px" src="{{notice.sender.profile.profile_img.url}}" alt="Icon">
                      <div>
                        <a class="links" href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a>
                        <p class="text-message" style="margin: 0;">{{ notice.text_message }}</p>
                      </div>
                    </div>                    
                  {% else %}
                    <div style="display: flex;flex-direction: row; justify-content: flex-start;">
                        <img class="profile-Icon" style="border-radius: 100%; background: #f05a2d; margin: 5px 0.5em 5px 0.5em;" width="40px" height="40px" src="https://i.imgur.com/qzTm4EW.png" alt="Icon">
                        <div  style="display: flex;flex-direction: row; align-items: center;">
                          <p class="text-message" style="margin: 0;">{{ notice.text_message }}</p>
                        </div>  
                    </div>                    
                  {% endif %}
                </p>
              </td>
              <td></td>
            {% endif %}
              <td>
                  <button class="delete-button" data-record-id="{{ notice.id }}">🗑</button>
              </td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if empty %}
          <tr id="notnoticerecord" style="text-align: center;"><td style="text-align: center;">Уведомлений нет</td><td></td></tr>
      {% else %}
          <tr id="notnoticerecord" style="display: none; text-align: center;"><td style="text-align: center;">Уведомлений нет</td><td></td></tr>
      {% endif %}
      </table> 
  </div>
<!-- 
<div id="head">
	<a class="ExitButton" href="{% url 'mainpage'%}">🡸</a>
	<h1 style="margin-top: 1em;">Уведомления</h1>
</div>
<div class="content">
	<table>
    {% if notices %}
		{% for notice in notices %}
            <tr data-record-id="{{ notice.id }}notice">
            {% if notice.notice_type == 'FR' %}
                <td>
                    <p><a href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a> хочет добавить вас в друзья!</p>
                </td>
                <td>
                    <button class="add-button" data-record-id="{{ notice.id }}">Добавить</button>
                </td>
            {% endif %}
            {% if notice.notice_type == 'IV' %}
                <td>
                    <p><a href="{{ notice.sender.profile.get_absolute_url }}">{{ notice.sender.profile.nickname }}</a> приглашает вас в игру!</p>
                </td>
                <td></td>
            {% endif %}
            {% if notice.notice_type == 'IF' %}
                <td>
                    <p>Сервер: {{ notice.text_message }}</p>
                </td>
                <td></td>
            {% endif %}
                <td>
                    <button class="delete-button" data-record-id="{{ notice.id }}">Удалить</button>
                </td>
		    </tr>
        {% endfor %}
    {% else %}
        <tr>У вас нет новых уведомлений</tr>
    {% endif %}
    </table>
</div> -->
{% endblock content%}