{% extends 'profile_base.html' %}
 
{% block title %}Профиль{% endblock %}
{% block script %}{% endblock %}
{% block style %}
<style>
	table {
    	width:100%;
    	border-collapse:separate; 
    	border-spacing:0 0.2em;
	}
	tr{
    	/* height:100%; */
    	background-color: #363d48;
  	}
  	td{
    	/* height: 100%;
    	width: 100%; */
    	padding: 0.3em;
  	}
  	tr>td {
    	margin-bottom: 30px;
  	}
	.list{
   		width: 100%;
    	height: 30em;
    	background-color: #292e36;
    	overflow-y: scroll;
    	margin-bottom: 1em;
		scrollbar-width: thin;
		scrollbar-color: var(--thumbBG) var(--scrollbarBG);
		padding: 0.5em;
  	}
	html {
		--scrollbarBG: #27303f;
		--thumbBG: #90A4AE;
	}
	.list::-webkit-scrollbar-corner {
		background: #27303f;
	}
	.list::-webkit-scrollbar {
		width: 11px;
		height: 11px;
	}
	.list::-webkit-scrollbar-track {
		background: var(--scrollbarBG);
	}
	.list::-webkit-scrollbar-thumb {
		background-color: var(--thumbBG) ;
		border-radius: 6px;
		border: 3px solid var(--scrollbarBG);
	}
</style>
{% endblock %}
{% block content %}
<div id="head">
	<a class="ExitButton" onclick="javascript:history.back(); return false;">🡸</a>
	<h1 style="margin-bottom: 0em; margin-top: 0.5em;">Профиль</h1>
</div>
<div class="content">
	<div id="ProfileCard">
		<div style="width: 200px; height: 200px; display: flex; justify-content: center;align-items:center;	"	>
			<img id="profile-Icon" width="180" height="180" src="{{user_profile.profile_img.url}}" alt="Icon">
		</div>
			{% if edit %}
				<div class="profile_data" >
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<p id ="LogName">@{{login}}</p>
					<a id ="EditProfile" href="{% url "edit_profile" %}">Изменить</a>
				</div>
			{%else%}
				{% if friend %}
				<div class="profile_data" >
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;margin-bottom: 1px;">
					<button id ="EditProfile" class='delete_friendship-button'>Удалить из друзей &#10134;</button>
					</div>
				</div>
				{% endif %}
				{% if friendship_notice_get %}
				<div class="profile_data">
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;">
						<button id ="EditProfile" class='answer_friendship-button' data-record-id="{{ friendship_notice_get }}">Одобрить заявку &#10133;</button>
					</div>
					
				</div>
				{% endif %}
				{% if not_friend %}
				<div class="profile_data">
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;">
						<button id ="EditProfile" class='friendship-button'>Добавить в друзья</button>
					</div>
					
				</div>
				{% endif %}
				{% if friendship_notice_send %}
				<div class="profile_data">
					<!-- style="align-items: center; margin-bottom: auto; margin-top: auto;" -->
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;"></div>
				</div>
				{% endif %}
			{% endif %}
	</div>
</div>
<div style="display: flex; justify-content: center; margin-left: 50px;">
	<h2>История игр</h2>
</div>
<hr>
<div class="content">
	<div id="GamesHistory" class="list">
		<table cellspacing="0" cellpadding="0">
			{% for game in user_profile.gamehistory_set.all%}
				<tr>
					<td>
						{{game.get_datetime}}
					</td>
					<td style="padding-left:1em;">
						{{game.roomname}}
					</td>
					<td style="padding-left:3em;">
						{% if game.win == 1 %}
							Мирные
						{% else %}
							Мафия
						{% endif %}
					</td>
					<td style ="padding-left: 1em;">
						{% for key, value in game.playerlist.items %}
							{% if key == user_profile.pk|slugify %}
								{% if value == 'civil' %}
									Гражданин
								{% endif %}
								{% if value == 'com' %}
									Комиссар
								{% endif %}
								{% if value == 'doc' %}
									Доктор
								{% endif %}
								{% if value == 'mafia' %}
									Мафиози
								{% endif %}
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock content%}

