{% extends 'profile_base.html' %}
 
{% block title %}Профиль{% endblock %}
 
{% block content %}
<div id="head">
	<a class="ExitButton" href="{% url "mainpage" %}">🡸</a>
	<h1>Профиль</h1>
</div>
<div class="content">
	<div id="ProfileCard">
		<div style="width: 200px; height: 200px;">
			<img id="profile-Icon" width="200" height="200" h src="{{request.user.profile.profile_img.url}}" alt="Icon">
		</div>
		<div id="ProfileData">
			<p id ="Nickname">{{request.user.profile.nickname}}</p>
			<p id ="LogName">@{{request.user.username}}</p>
			<a id ="EditProfile" href="{% url "edit_profile" %}">Изменить</a>
		</div>
	</div>
</div>
<div style="display: flex; justify-content: center; margin-left: 50px;">
	<h2>История игр</h2>
</div>
<hr>
<div class="content">
	<div id="GamesHistory">
	</div>
</div>
<div style="display: flex; justify-content: center; margin-left: 50px;">
	<h2>Тест Видео & Аудео</h2>
</div>
<hr style="width: 70%;">
<div class="content">
	<div id="Test-Video">
		<p id="iconVideo">🎥</p>
		<video autoplay id="videoElement"></video>
	</div>
	<div style="display: flex; flex-direction: row;">
		<button id="start" class="VideoBut">Включить камеру</button>
		<button id="stop" class="VideoBut">Выключить камеру</button>
	</div>
	<br>
	<div id="AudeoBox">
		<audio id="AudeoStreem" autoplay loop></audio>
		<p style="font-size: 60px;">🎙</p>
		<div id="Test-Audeo"></div>
	</div>
	<div style="display: flex; flex-direction: row;">
		<button id="startAudeo" class="VideoBut">Включить микрофон</button>
		<button id="stopAudeo" class="VideoBut">Выключить микрофон</button>
	</div>
</div>
{% endblock content%}

