{% extends 'profile_base.html' %}
 
{% block title %}Профиль{% endblock %}
{% block script %}{% endblock %}
{% block style %}{% endblock %}
{% block content %}
<div id="head">
	<a class="ExitButton" onclick="javascript:history.back(); return false;">🡸</a>
	<h1 style="margin-bottom: 0em; margin-top: 0.5em;">Профиль</h1>
</div>
<div class="content">
	<div id="ProfileCard">
		<div style="width: 200px; height: 200px; display: flex; justify-content: center;align-items:center;	"	>
			<img id="profile-Icon" width="180" height="180" src="{{user_profile.profile_img.url}}" alt="Icon">
		</div>
			{% if edit %}
				<div class="profile_data" >
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<p id ="LogName">@{{login}}</p>
					<a id ="EditProfile" href="{% url "edit_profile" %}">Изменить</a>
				</div>
			{%else%}
				{% if friend %}
				<div class="profile_data" >
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;margin-bottom: 1px;">
					<button id ="EditProfile" class='delete_friendship-button'>Удалить из друзей &#10134;</button>
					</div>
				</div>
				{% endif %}
				{% if friendship_notice_get %}
				<div class="profile_data">
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;">
						<a id ="EditProfile">Одобрить заявку &#10133;</a>
					</div>
					
				</div>
				{% endif %}
				{% if not_friend %}
				<div class="profile_data">
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;">
						<button id ="EditProfile" class='friendship-button'>Добавить в друзья</button>
					</div>
					
				</div>
				{% endif %}
				{% if friendship_notice_send %}
				<div class="profile_data">
					<!-- style="align-items: center; margin-bottom: auto; margin-top: auto;" -->
					<p id ="Nickname">{{user_profile.nickname}}</p>
					<div style="height: 26px;display: block;margin-top: auto;align-self:flex-end;"></div>
				</div>
				{% endif %}
			{% endif %}
	</div>
</div>
<div style="display: flex; justify-content: center; margin-left: 50px;">
	<h2>История игр</h2>
</div>
<hr>
<div class="content">
	<div id="GamesHistory">
	</div>
</div>

{% endblock content%}

