* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: #272C34;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: rgb(228,34,34);
    background: linear-gradient(67deg, rgb(243, 46, 46) 0%, rgb(78, 9, 16) 100%);
  }
  main{
    background-color: #21252C;
    padding: 1.5%;
    margin: 30px;
    color: white;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    border-radius: 1em;
  }
  #head{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 0.2em;
  }
  .ExitButton {
    display: block;
    padding-top: 13px;
    padding-left: 13px;
    background: #464556;
  
    background:
    linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
    #464556;
    background-size:300% 100%,cover;
  
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  
    
    text-align: center;
    justify-content: center;
    color: white;
    line-height: 25px;
    text-decoration:none;
    white-space:nowrap;
    columns: 2;
  }
  .ExitButton:hover{
    animation:button-game-animation 3s ease;
  }
  
  hr{
    margin-bottom: 0.5em;
    width: 50%;
    margin: 0.5em auto;
  }
  h2, h1{
    columns: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .content{
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #ProfileCard{
    background-color:#313844;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    width: 100%;
  }
  #profile-Icon{

    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg, rgb(3, 25, 151), #0b9ef9) border-box;
    border: 8px solid transparent;
    border-radius: 20px;
    margin-left: 0.5em;
    
  }
  #ProfileData{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 1em;
    
  }
  #Nickname{
    margin-top: auto;
    font-size: 2em;
    padding-right: 0.5em;
  }
  #LogName{
    font-style: italic;
    padding-right: 0.5em;
  }
  #EditProfile{
    display: block;
    margin-top: auto;
    align-self:flex-end;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background:
    linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
    linear-gradient(45deg, rgb(20, 185, 20) 0%, rgb(50, 169, 112) 60%);
    background-size:300% 100%,cover;

    

    border-radius: 10px;
    border: 0px;
    text-decoration:none;
  }
  #EditProfile:hover{
    animation:button-game-animation 3s ease;
  }


  #GamesHistory{
    width: 500px;
    height: 200px;

    background-color:#313844;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    margin-bottom: 0.5em; 
  }
  #Test-Video
  {
    display: grid;
    padding: 0;
    width: 400px;
    height: 300px;
    background-color:#232a34;
    border-radius: 1em;
 
    overflow: hidden;
  }
  #iconVideo{
    font-size: 60px; 
    z-index: 1;
    grid-column: 1;
    grid-row: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    filter: grayscale(100%);
    opacity: 0.4;
  }
  #videoElement{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    border-radius: 1em;
    width: 400px;
    height: 300px;
  }
  .VideoBut{
    margin: 0;
    margin-top: 0.5em;
    display: block;
    align-self:flex-end;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background:
    linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
    linear-gradient(45deg, rgb(55, 62, 157) 0%, rgb(59, 119, 209) 60%);
    background-size:300% 100%,cover;

    border-radius: 10px;
    border: 0px;
    text-decoration:none;
  }
  .VideoBut:hover{
    animation:button-game-animation 3s ease;
  }
  #stop, #stopAudeo{
    margin-left: 1em;
    background:
    linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
    linear-gradient(-45deg, rgb(55, 62, 157) 0%, rgb(59, 119, 209) 60%);
    background-size:300% 100%,cover;
  }


  #AudeoBox
  {
    background-color:#232a34;
    border-radius: 1em;
    padding: 0.1em;
    width: 400px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
  }
  #Test-Audeo{
    width: 340px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    margin: 2px;
    border-radius: 30px;
  }
  @keyframes button-game-animation {
  
    0%{
        background-position:right,center;
     }
     30%{background-position:0 0;}
  }

.example-1 .form-group{margin-left: 1em;}
.example-1 input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.example-1 .label{border:2px dashed grey;border-radius:5px;display:flex; justify-content: center; align-items: center; flex-direction: column; padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center; width:200px;height:200px;}
.example-1 .label i{display:block;font-size:42px;padding-bottom:16px}
.example-1 .label i,.example-1 .label .title{color:grey;transition:200ms color}
.example-1 .label:hover{border:2px solid #000}
.example-1 .label:hover i,.example-1 .label:hover .title{color:#000}
input[type="text"]
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  height: 1em;
}
input[type="submit"], input[type="button"], .button
{
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 2%;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  background:
  linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
  linear-gradient(45deg, rgba(24,171,253,1) 0%, rgba(50,80,169,1) 60%);
  background-size:300% 100%,cover;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  
}
.button{
  background:
  linear-gradient(to right,transparent 43%,rgba(255, 255, 255, 0.6),transparent 60%),
  linear-gradient(45deg, rgb(20, 185, 20) 0%, rgb(50, 169, 112) 60%);
  background-size:300% 100%,cover;
  text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover,.button:hover{
  animation:button-game-animation 3s ease;
}