<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/./static/css/videos_styles.css">
</head>

<body>
    <div id="users">
        <section id = "room-name-wrapper">
            <p>Комната: <span id = "room-name"></span></p>
        </section>

        <section id = "video-streams"></section>
        <a id="startgame" href="#">Начать игру</a>
    </div>
    <div id="chat">
        <h2>Чат:</h2>
        <form id="messageInputForm">
            <input type="text" name="messageForm" />
        </form>
        <div id="messages"></div>
    </div>
</body>
<script type="text/javascript" src = "/./static/assets/AgoraRTC_N-4.17.2.js"></script>
<script type="text/javascript">
    let user_name = {{ user_nickname_json }}
    let room_name = {{ room_name_json }}
    let is_host = {{ the_host_json }}
</script>
<script type="text/javascript" src = "/./static/js/streams.js"></script>
</html>