<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Введите имя создаваемой комнаты:<br/>
	<form method="POST" novalidate>
	{% csrf_token %}
	{{form.roomname}}
	<input id="room-name-submit" type="submit" value="Enter"/>
	</form>
  <!-- <script>
           document.querySelector('#room-name-submit').onclick = function(e) {
			 if (e.keyCode === 13){
				var roomName = document.querySelector('#room-name-input').value;
				window.location.pathname = 'lobby/Room_' + roomName + '/';
				}
        }; 
    </script> -->

</body>
</html>
