{% extends 'lobby_base.html' %}
 
{% block title %}Список Лобби{% endblock %}

{% block css %}{% load static %}<link rel="stylesheet" href="{% static "/css/createlobby_styles.css" %}">{% endblock %}

{% block content %}
<div id="headblock">
	<a class="ExitButton" href="{% url "mainpage" %}">🡸</a>
	<h2 id="h-head">Создание лобби</h2>
</div>
<div id="content">
	Введите имя создаваемой комнаты:<br>
	<form method="POST" novalidate>
	{% csrf_token %}
	{{form.roomname}}
	<div id="SendBox"><input id="room-name-submit" type="submit" value="Создать"/></div>
	</form>
</div>

{% endblock %}

{% block script %}
{% endblock %}