<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="chat" style="float: right">
        <h2>Чат:</h2>
        <form id="messageInputForm">
            <input type="text" name="messageForm" />
        </form>
        <div id="messages"></div>
        <script type="text/javascript">
            let user_name = {{ user_nickname_json }}
            let room_name = {{ room_name_json }}
            let is_host = {{ the_host_json }}
            console.log(is_host)
            let urlTemp = window.location.host
            let url = 'ws://' + urlTemp + '/ws/socket-server/' + room_name + '/'
            console.log(url)
            const testSocket = new WebSocket(url)
            testSocket.onopen = () => testSocket.send(JSON.stringify({
                'username': user_name
            }))
            testSocket.onmessage = function (e) {
                let data = JSON.parse(e.data)
                console.log('Data: ', data)
                if (data.type === 'chat') {
                    let messages = document.getElementById('messages')
                    let htmlAdding = '<div><p>' + data.message + '</p></div>'
                    messages.insertAdjacentHTML('beforeend', htmlAdding)
                }
            }
            let inputForm = document.getElementById('messageInputForm')
            inputForm.addEventListener('submit', (e) => {
                e.preventDefault()
                let message = e.target.messageForm.value
                testSocket.send(JSON.stringify({
                    'message': message
                }))
                inputForm.reset()
            })
            window.onload = function () {
                let startButton = document.getElementById('startgame')
                startButton.onclick = function () {
                    if (is_host) alert("Вы начали игру")
                    else alert("Вы не являетесь создателем комнаты")
                    return false
                }
            }
        </script>
    </div>
    <div id="users" style="float: left">
        <h2>Пользователи в лобби:</h2>
        <!-- Здесь должно быть добавление никнеймов подклчюенных пользователей -->
        <a id="startgame" href="#">Начать игру</a>
    </div>
</body>

</html>