<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/./static/css/videos_styles.css">
</head>

<body>
    <main>
        <div id="main-block">
            <div id="event">
                <span id="name-event"></span>
                <span id="time"></span>
            </div>
            
            <div id="time-stripe">
                <div id="time-stripe-progress" style=""></div>
            </div>
            <div id="users">
                <section id = "video-streams" class="video"></section>
            </div>
        </div>
        <div id="right-block">
            <section id = "room-name-wrapper">
                <p>Комната: <span id = "room-name"></span></p>
            </section>
            <a id="startgame" href="#">Начать игру</a>

            <div id="chat">
                <h2>Чат:</h2>
                <form id="messageInputForm">
                    <input type="text" name="messageForm" />
                </form>
                <div id="messages"></div>
            </div>
        </div>
    </main>

    


    
    
</body>
<script type="text/javascript" src = "/./static/assets/AgoraRTC_N-4.17.2.js"></script>
<script type="text/javascript">
    let user_name = {{ user_nickname_json }}
    let room_name = {{ room_name_json }}
    let user_pk = {{ user_pk_json }}
    let is_game = {{room_isgame_json}}
    let is_host = {{ the_host_json }}
    let token = {{ agora_token }}
</script>
<script type="text/javascript" src = "/./static/js/streams.js"></script>
<script type="text/javascript" src = "/./static/js/game.js"></script>
</html>