{% extends 'lobby_base.html' %}
 
{% block title %}Список Лобби{% endblock %}

{% block css %}{% load static %}<link rel="stylesheet" href="{% static "/css/lobbylist_styles.css" %}">{% endblock %}

{% block content %}
<div class="block" id="listblock">
    <div id="headblock">
        <a class="ExitButton" href="{% url "mainpage" %}">🡸</a>
	    <h2 id="h-head">Список лобби</h2>
    </div>
    <div id="list-lobby">
        {% if rooms %}
            {% for room in rooms %}
                {% if not room.is_game %}
                    {% for hostprofile in room.profile_set.all %}
                        {% if hostprofile.pk == room.roomhostid %}
                            <div class="loddy" onclick="toggle_visibility('rightblock');">
                                <h2 style="margin-bottom: 10px;">👥</h2>
                                <h3 class="count-lobby">{{ room.profile_set.count }}/12</h3> 
                                <h3 class="name-lobby">{{ room.roomname }}</h3>
                                <h3>🔊</h3>
                                <h3 style="margin-right: 1em;">🎦</h3>
                                <img width="50px" height="50px" class="lobby-img" src="{{hostprofile.profile_img.url}}" alt="Icon"> 
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %}   
            {% endfor %}
        {% else %}
            <div id="list-empty">Список лобби пуст</div>
        {% endif %}
    </div>
</div>
<div class="block" id="rightblock" style="display: none;">

</div>
{% endblock %}

{% block script %}
<script>
     function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>
{% endblock %}