{% extends 'lobby_base.html' %}
 
{% block title %}Список Лобби{% endblock %}

{% block css %}{% load static %}<link rel="stylesheet" href="{% static "/css/lobbylist_styles.css" %}">{% endblock %}

{% block content %}
<div class="block" id="listblock">
    <div id="headblock">
        <a class="ExitButton" href="{% url "mainpage" %}">🡸</a>
	    <h2 id="h-head">Список лобби</h2>
    </div>
    <div id="list-lobby">
        {% if rooms %}
            {% for room in rooms %}
                {% if not room.is_game %}
                    {% for hostprofile in room.profile_set.all %}
                        {% if hostprofile.pk == room.roomhostid %}
                            <div class="loddy" onclick="toggle_visibility('rightblock');">
                                <h3>{{ room.roomname }} <img width="53" height="53" src="{{hostprofile.profile_img.url}}" alt="Icon"> {{ room.profile_set.count }} <a href = "{% url 'TheLobby' room.GetLink %}">Подключиться</a></h3>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %}   
            {% endfor %}
        {% else %}
            <div id="list-empty">Список лобби пуст</div>
        {% endif %}
    </div>
</div>
<div class="block" id="rightblock" style="display: none;">
</div>
{% endblock %}

{% block script %}
<script>
     function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>
{% endblock %}