{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div id="head">
        <a class="ExitButton" href="{% url "edit_profile" %}">🡸</a>
        <h2>Смена пароля</h2>
    </div>

    <div id="content">
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }} <br> {{ field }}
                {% if field.errors %}
		        <ul class="errorlist">
			        {% for error in field.errors %}
			        <li>{{ error }}</li>
			        {% endfor %}
		        </ul>
		        {% endif %}
            </p>
            {% endfor %}
            {{ form.non_field_errors }}
            <div id="SendBox"><input type="submit" value="Изменить пароль!"/></div>
        </form>
    </div>
{% endblock %}